/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Work+Sans:wght@200&display=swap');

/* body */

body {
    font-family: 'Montserrat', sans-serif;
    color:  #484848;
    width:100%;
    text-align: center;
    background-color: #FDF5E6;
}

hr {
    width:100%;
    border-bottom: 3px solid;
    clear:both;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    text-align: center;
    color: #202020;
}

/* header */

h1 {
    color: #202020;
    font-family: 'Work Sans', sans-serif;
    text-transform:uppercase;
    letter-spacing: 20px;
    font-size:500%;
    margin: 0 auto;
    text-align: center;
    }

/* navigation */

#menu {
    font-size:150%;
    text-align:center;
}

#menu li {
    margin: 20px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu a:hover{
    border-bottom: 2px solid;
}

.active {
    border-bottom: 2px solid;
}

/* index page - meditation image */

#meditation-img {
    margin: 25px 0;
    height: 600px;
    overflow: hidden;
}

#meditation-img img {
    width:100%;
    background-size: cover;
    align:center;
}

/* index page - benefits */

.benefits {
    width:100%;
    text-align: center;
}

.benefits div {
    width:13%;
    height: 350px;
    border: 2px solid;
    margin: 15px;
    display: inline-block;
    vertical-align: text-top;
}

.benefits div h3 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size:25px;
    padding:5px;
}

.benefits div p {
    padding: 15px;
}

/* how page - meditation video*/
#meditation-video {
    width: 100%;
}

#meditation-video iframe {
    width:1200px;
    height:630px;
    display: block;
    margin: 0 auto;
}

/* where page - sign up */

#where {
    margin:50px;
    height: 400px;
    vertical-align: middle;
}

#where-explained {
    float:left;
    margin: 0 200px;
    text-align: right;
}

#form-border {
    width: 400px;
    height: 200px;
    text-align: left;
    padding: 30px;
    float: right;
    margin: 0 200px;
}

.form-label {
    font-weight: 700;
}

.form-input {
    font-size:100%;
    margin:20px;
    width:350px;
    height:20px;
    background: transparent;
    border: 0.1px solid;
    border-radius: 1px;
}

#button {
    display: block;
    margin: 20px 150px;
    padding: 20px;
    font-size: 100%;
    font-family: inherit;
    background-color: #202020;
    color: #FDF5E6;
    border-radius: 25% 10%;
    text-transform: uppercase;
    font-weight: 600;
}

#button:hover{
    background-color: #FDF5E6;
    color:#202020;
}

/* footer */

#social-media {
    text-align: center;
    padding: 20px;
    vertical-align: bottom;
}

#social-media li {
    display:inline;
}

#social-media a {
    color:inherit;
    margin: 10%;
    font-size:200%;
}
