/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Work+Sans:wght@200&display=swap');

/* body */

body {
    font-family: 'Montserrat', sans-serif;
    color:  #484848;
    width:100%;
    text-align: center;
    background-color: #FDF5E6;
}

hr {
    width:100%;
    border-bottom: 3px solid;
    clear:both;
}

/* header */

h1 {
    color: #202020;
    font-family: 'Work Sans', sans-serif;
    text-transform:uppercase;
    letter-spacing: 20px;
    font-size:500%;
    margin: 0 auto;
    text-align: center;
    }

/* navigation */

#menu {
    font-size:150%;
    text-align:center;
}

#menu li {
    margin: 20px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color:inherit;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu a:hover{
    border-bottom: 2px solid;
}

.active {
    border-bottom: 2px solid;
}

/* index page - meditation image */

#meditation-img {
    margin: 25px 0;
    height: 600px;
    overflow: hidden;
}

#meditation-img img {
    width:100%;
    background-size: cover;
    align:center;
}

/* index page - benefits */

.benefits {
    width:100%;
    text-align: center;
}

.benefits div {
    width:15%;
    height: 100px;
    border: 2px solid;
    margin: 5px;
    display: inline-block;
}

.benefits div h3 {
    font-family: 'Work Sans', sans-serif;
    transform: uppercase;
    color:red;
}

/* footer */

#social-media {
    text-align: center;
    padding: 20px;
    vertical-align: bottom;
}

#social-media li {
    display:inline;
}

#social-media a {
    color:inherit;
    margin: 10%;
    font-size:200%;
}
